@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    font-size:25px;
    font-family: 'Dongle';
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.con {
    display:none;
}

@media all and (max-width: 480px) {
    body {
        width:100%;
        height:100vh;
    }
    
    .con {
        display: block;
        width:100%;
        height:100%;
        margin:0 auto;
        overflow: hidden;
    }

    #bg {
        width: 100%; height:100vh;
        object-fit: fill;
    }
    
    .con.two {
        height:5400px;
        margin-top:20px;
        padding:0 30px;
        background: url('./img/wallpaper.png');
        background-size: cover;
        backdrop-filter: 10px;
    }

    h2 {
        height:100px;
        margin-bottom:20px;
        padding-top:30px;
        font-family: 'Dongle';
        font-size: 40px;
        text-align: center;
        letter-spacing: -2px;
    }

    h2 span{
        position: relative;
        top: 10px;
        display: inline-block;
        animation: bounce .5s ease infinite alternate;
        text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 4px 4px rgba(0, 0, 0, .1);
    }


    h2 span:nth-child(2) { animation-delay: .1s; }
    h2 span:nth-child(3) { animation-delay: .2s;  }
    h2 span:nth-child(4) { animation-delay: .3s; }
    h2 span:nth-child(5) { animation-delay: .4s; }
    h2 span:nth-child(6) { animation-delay: .5s; }
    h2 span:nth-child(7) { animation-delay: .6s; }
    h2 span:nth-child(8) { animation-delay: .7s; }
    h2 span:nth-child(9) { animation-delay: .8s; }
    h2 span:nth-child(10) { animation-delay: .9s; }
    h2 span:nth-child(11) { animation-delay: .10s; }
    h2 span:nth-child(12) { animation-delay: .11s; }
    h2 span:nth-child(13) { animation-delay: .12s; }
    h2 span:nth-child(14) { animation-delay: .13s; }
    h2 span:nth-child(15) { 
        font-size: 25px;
        animation-delay: .14s; 
    }

    @keyframes bounce {
        100% {
          top: -10px;
        }
      }


    .wrap{
        position:relative;
    }

      
    .box {
        margin:0 auto 20px;
        width:250px;
        height:250px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        opacity: 0;
        transform: translateY(200px);
        transition: all 1s;
        overflow: hidden;
    }

    .box:last-child {
        float: none !important;
        width:90%;
        height:370px;
        padding-top:50px;
        border-radius: 0;
        text-align: justify;
        background: none;
    }

    .box:last-child p {
        line-height:35px;
    }

    .box:last-child p span{
        font-size: 15px;
    }

    .letter {
        position:absolute;
        top:50%;
        left:50%;
        width:200px;
        text-align: center;
        transform: translate(-50%, -40%);
        opacity: 0;
        transition: 0.3s ease;
        z-index:100;
    }

    .on {
        opacity: 1;
    }

    .box > img {
        display:block;
        width:100%; height:100%;
        object-fit: cover;
        transition:0.7s ease;
    }

    .opct {
        opacity: 0.3;
        filter: blur(5px);
    }

    #click {
        position:absolute;
        display:block;
        top:200px;
        left:230px;
        width:30px;
        height:35px;
        transform: rotate(-30deg);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
        animation: moving .5s ease infinite alternate; 
        transition: 0.5s ease-in;
    }

    @keyframes moving {
        100% {
          left:240px;
        }
      }
}
